.layout-container {
    display: grid;
    grid-template-columns: repeat(16, 1fr);
}

.region-header {
    display: flex;
    // grid-template-columns: 10% 1fr 10%;
    padding: 2.5rem 4rem;
    flex-wrap: wrap;
    align-items: center;
    max-width: 132rem;
    margin: 0 auto;
    justify-content: space-between;
}

.bucket-links-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    place-items: center;

    @include respond(phone) {
        display: flex;
        flex-direction: column;
    }
}

.testimonial-grid {
    display: grid;
    grid-template-columns: calc(100% / 3) calc(100% / 2);
    align-items: center;
    justify-content: space-between;

    @include respond(phone) {
        grid-template-columns: 100%;
        grid-template-rows: repeat(3, 1fr);
    }
}

.testimonial-credit {
    align-self: end;
}
