// COLORS

$color-white: #ffffff;
$color-black: #252525;
$color-primary-light: #e5f0f7; // Alice Blue
$color-primary: #374760; // Gulf Blue
$color-secondary-light: #acb9c6; // Heather 
$color-secondary: #798BA1; // Light Slate Grey
$color-grey-1: #e6e6e6;
$color-grey-dark: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;
$color-orange: #efa600;
$color-orange-dark: #a27207;
$color-highlight: #6195cf;
$color-tertiary: #f7f5f0;
$color-brand-primary: #2175d9;
$color-brand-secondary: #0f1941;

// FONT VARIABLES

$font-primary: 'PT Sans', sans-serif;

// RESPONSIVE BREAKPOINTS
// $bp-largest: 75em; // 1200px
// $bp-large: 62.5em; // 1000px
// $bp-medium: 50em; // 800px
// $bp-small: 37.5em; // 600px