{# <form class="views-exposed-form" data-drupal-selector="views-exposed-form-all-jobs-page-1" action="/jobs" method="get" id="views-exposed-form-all-jobs-page-1" accept-charset="UTF-8">
    <div class="form--inline clearfix">
        <div class="js-form-item form-item js-form-type-select form-type-select js-form-item-field-state-code-target-id form-item-field-state-code-target-id">
            <label for="edit-field-state-code-target-id">State</label>
            <select data-drupal-selector="edit-field-state-code-target-id" id="edit-field-state-code-target-id" name="field_state_code_target_id" class="form-select" tabindex="-1">
                <option value="All" selected="selected">- Any -</option>
                <option value="54">CA</option>
                <option value="56">IL</option>
                <option value="55">NV</option>
                <option value="58">OH</option>
                <option value="57">PA</option>
            </select>
        </div>
        <div data-drupal-selector="edit-action" class="form-actions js-form-wrapper form-wrapper" id="edit-actions">
            <input data-drupal-selector="edit-submit-all-jobs" type="submit" id="edit-submit-all-jobs" value="Apply" class="button js-form-submit form-submit" tabindex="-1">
        </div>
    </div>
</form> #}