.bucket-link {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 6rem 4rem;
    transition: all .6s 0s ease;
    width: 90%;
    height: 90%;

    &:last-child {
        grid-column: 2;
    }

    &:hover {
        background: $color-white;
        box-shadow: -1px 10px 20px 0px rgb(67 104 177/20%);
    }

     h3 {
        margin: 4rem 0 3rem;
     }

     p {
        color: $color-primary;
     }
}