.btn {
    display: inline-block;
    position: relative;
    height: auto;
    width: auto;
    min-width: 21.2rem;
    margin: 3.6rem 0;
    padding: 1.5rem;
    line-height: 3rem;
    text-align: center;
    font-size: 1.4rem;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
    background: 0 0;
    color: $color-primary;
    transition: all .3s 0s ease;
    border: 2px solid $color-primary;

    &:hover {
        background-color: $color-orange;
        border: 2px solid $color-primary;
        color: $color-primary;
    }
}

.content-block__split .button-group {
    
    display: inline-flex;
    margin-top: -1rem;
    overflow: hidden;

    &--save-icon {
        margin-left: 0;
        margin-right: 0;

        & .button.button--full-width {
            width: calc(100% - 6rem);
            flex: inherit;
        }

        & .button {
            margin: 0;
        }
    }

    &--full-width {
        display: flex;
    }

    &--reverse-on-l .button:first-child {
        margin-left: 5px;
        order: 2;
    }

    & .button {
        margin-top: 1rem;
    }
}

.button,
a.button {

    &--full-width {
        height: 6rem;
        line-height: 5.6rem;
        width: 100%;
    }
}

.job-apply__button {
    outline: 0;
}

.button {
    -webkit-appearance: none;
    font-size: 1.8rem;
    letter-spacing: 0;
    line-height: 3rem;
    display: inline-block;
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    background: rgba(0,0,0,0);
    border-radius: 4px;
    border: 2px solid currentColor;
    color: #2175d9;
    cursor: pointer;
    height: 6rem;
    line-height: 5.6rem;
    min-width: 12rem;
    padding: 0 3rem;
    position: relative;
    text-align: center;
    text-decoration: none !important;
    transition: all .2s;
    vertical-align: middle;

    &--filled {
        color: $color-white;
        border: 2px solid $color-black;
        background-color: $color-brand-secondary;
        border-radius: 5rem;
        font-size: 1.7rem;
        text-decoration: none;
        font-weight: bold;
    }

    &--m {
        height: 6rem;
        line-height: 5.6rem;
        min-width: 12rem;
    }

    &--rounded {
        border-radius: 5rem;

        }

        // &:after {
        //     font-size: 3.2rem;
        //     line-height: 1em;
        //     content: '>';
        //     opacity: 0;
        //     position: absolute;
        //     margin-left: -2rem;
        //     transform: all .2s;
        //     top: 12px;
        //     right: 10px;
        // }

        // &:hover {
        //     padding-right: 3.4rem;
        //     padding-left: 1.4rem;

        //     &:after {
        //         opacity: 1;
        //         margin-left: 0;
        //     }
        // }
    }

    .float-shadow {
        position: relative;
        transition-duration: .3s;
        transition-property: transform;
        transform: translateZ(0);
        box-shadow: 0 0 1px rgba(0,0,0,0);

        &--100 {
            position: relative;
            transition-duration: .3s;
            transition-property: transform;
            transform: translateZ(0);
            box-shadow: 0 0 1px rgba(0,0,0,0);

            &:hover {
                transform: translateY(-5px);
    
                &:before {
                    opacity: 1;
                    transform: translateY(5px);
                }
            }
            
            &:before {
            pointer-events: none;
            position: absolute;
            z-index: -1;
            content: '';
            top: 100%;
            left: 40%;
            height: 1rem;
            width: 19%;
            opacity: 0;
            background: radial-gradient(ellipse at center, rgba(0, 0,0, 0.35) 0%, rgba(0, 0, 0, 0) 80%);
            transition-property: transform, opacity;
            }
        }

        &:before {
            pointer-events: none;
            position: absolute;
            z-index: -1;
            content: '';
            top: 75%;
            left: 40%;
            height: 1rem;
            width: 19%;
            opacity: 0;
            background: radial-gradient(ellipse at center, rgba(0, 0,0, 0.35) 0%, rgba(0, 0, 0, 0) 80%);
            transition-property: transform, opacity;
        }

        &:hover {
            transform: translateY(-5px);

            &:before {
                opacity: 1;
                transform: translateY(5px);
            }
        }
    }
