.footer {
    // display: block;
    // position: relative;
    // height: auto;
    padding-top: 6rem;
    // width: 100%;
    border-top: 6px solid $color-orange;
    background-image: linear-gradient(to right bottom, rgba($color-primary-light, 0.8), rgba($color-primary, 0.8));
    grid-column: 1 / -1;

    @include respond(phone) {
        padding: 0;
    }

    #footer-content {
        padding: 0 0 15px 0;
        display: flex;
        position: relative;
        flex-wrap: wrap;
        width: calc(100% - 40px);
        max-width: 1320px;
        margin: 0 auto;
        border-bottom: 1px solid #fff;

        ul {
            display: block;
            position: relative;
            list-style-type: none;
            margin: 0;
            padding: 0;
        }

        li {

            font-weight: bold;

            &:first-child {
                margin: 0 0 15px 0;
                font-size: 14px;
            }

            a {
                margin-bottom: 15px;
            }
        }

        li, a {
            display: block;
            position: relative;
            color: #fff;
        }
    }
    
    .footer-col {
        margin-bottom: 1.5rem;
        // display: block;
        // position: relative;
        width: calc( 100% / 6 - 2rem);
        // float: left;
        padding-right: 2rem;

        @include respond(phone) {
            width: inherit;
            display: flex;
            justify-content: center;
            margin: 2rem 0;    
        }

        &.double {
            padding-right: 0;
            width: calc(( 100% / 6)*2);

            @include respond(phone) {
                width: inherit;       
            }

            p {

                @include respond(phone) {
                    width: 100%;
                    display: flex;
                    justify-content: center;
                }
            }
        }
        
        & > ul > li {
            
            & > a {
            color: #fff;
            text-decoration: none;
            font-size: 13px;
            }

            & > span {
                color: #fff;
                font-weight: bold;
            }


        }
    }

    #affiliate-logos-container {
        display: block;
        position: relative;

        img {
            width: calc(100% / 5);
            display: block;
            position: relative;
            float: left;
            margin-bottom: 20px;
        }
    }

    #footer-information {
        display: flex;
        justify-content: center;
        // flex-wrap: wrap;
        // position: relative;
        // width: calc(100% - 4rem);
        max-width: 132rem;
        margin: 0 auto;
        padding-top: 2rem;
        
        @include respond(phone) {
            flex-direction: column;
            
        }

        p,
        p a {
            font-size: 1.4rem;
            line-height: 3.9rem;
            color: $color-primary;
        }

        span {
            display: inline-block;
            width: 32px;

            i {
                display: inline-block;
                position: relative;
                top: 2px;
                margin-right: 10px;

                &.fa-map-marker {
                    font-size: 24px;
                    left: 2px;
                }

                &.fa-envelope {
                    font-size: 20px;            
                }

                &.fa-phone {
                    font-size: 22px;
                }

                &.fa-fax {
                    font-size: 21px;
                }
            }
        }
    }

    #footer-social-links {
        display: block;
        position: relative;
        margin: 0;
        padding: 0;
        list-style-type: none;

        li {
            position: relative;
            display: inline;
            float: left;

            a {
                display: block;
                // position: relative;
                margin-right: 2rem;
                padding: .3rem;
                height: 3.5rem;
                width: 3.6rem;
                // line-height: 3.6rem;
                box-shadow: 1px -1px 11px 0px $color-highlight;
                transition: all .35s 0s ease;
                background: #fff;
                color: #2749FF;

                & .icon-small {
                    fill: $color-primary;
                }
            }
        }
    }

    #footer-notice {
        display: block;
        position: relative;
        width: calc(100% - 40px);
        max-width: 1320px;
        margin: 20px auto 0 auto;
        border-top: 1px solid #fff;

        p {
            margin: 0;
            padding: 1rem 0;
            text-align: center;
            line-height: 5rem;
            font-size: 1.2rem;
            color: $color-primary;
        }
    }
}
  
  
.clear-after:after {
    content: "";
    display: table;
    position: relative;
    clear: both;
}

ul.menu.about-us-footer > li:nth-child(4) > a {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 14px;
  }
   @media screen and (min-width: 769px) {
     .footer ul#footer-social-links li a:hover {
       background: transparent;
       color: #fff;
     }
   }
  
//   @media screen and (max-width: 1200px) {
//     footer .footer-col {
//       width: calc( 100% / 3 );
//       margin-bottom: 50px;
//     }
  
//     footer .footer-col.double {
//       width: calc((100% / 6)*4);
//     }
//   }
  
//   @media screen and (max-width: 769px) {
//     footer .footer-col {
//       width: calc(100% / 2) !important;
//     }
  
//     footer .footer-col.double {
//       max-width: 500px;
//       width: 100% !important;
//     }
  
//     footer #footer-content {
//       flex-direction: column;
//     }
//   }
  
//   @media screen and (max-width: 421px) {
//     footer .footer-col {
//       width: 100% !important;
//     }
  
//     footer #footer-information {
//       flex-direction: column;
//     }
//   }