.header {
    grid-column: 1 / -1;
    background-image: linear-gradient(to right bottom, rgba($color-primary-light, 0.8), rgba($color-primary, 0.8));
    background-size: cover;
    background-position: top;
    position: relative;
    border-bottom: 6px solid $color-orange;

    &--front {
        height: 90vh;
    }

    &__video {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        z-index: -1;
        opacity: .5;
        overflow: hidden;
    }

    &__text-box {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
    }
}

.site-logo img {
    width: 10rem;
    height: auto;
}

#block-chartwell-breadcrumbs .breadcrumb,
#block-chartwell-breadcrumbs .breadcrumb a {
    background: inherit;
    color: $color-primary;
}