.location {
    &__details {
        border-top: 1px solid $color-primary;
        border-bottom: 1px solid $color-primary;
        padding: 1rem 0;

        span {
            font-weight: 700;
            text-decoration: none;
        }
    }

    &__cta {
        display: flex;
        flex-direction: column;
        margin-bottom: 2rem;

        a {
            align-self: center;
        }
    }

    &__grid {
        display: grid;
        grid-template-columns: min-content 1fr;
    }

    &__sidebar {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;

        &--recent-jobs,
        &--able {
            display: flex;
            justify-content: center;
        }

        &--card {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            position: relative;
            overflow: hidden;
            margin: 0.5rem 0px 1rem;
            background-image: linear-gradient(to left, #80aed1, #194585);
            box-shadow: 0px 8px 17px 0px rgba(0, 0, 0, 0.2),
                        0px 6px 20px 0px rgba(0, 0, 0, 0.19);
            border-radius: 2px;
            height: 40rem;
            width: 85%;
        
            h2 {
                text-align: center;
                font-size: 2.4rem;
                color: $color-white;
        
                small {
                    font-weight: normal;
                    font-size: 65%;
                    color: $color-white;
                }
            }
        }
    }    
}

.card_icon {
        
        svg {
            fill: $color-white;
            height: 10rem;
            width: 10rem;
        }
}

.simple-gmap-address {
    display: none;
}

.cta-container {
    text-align: center;
    margin-top: 2rem;
    width: 100%;
}

.cta {
    color: $color-white;
    border: 2px solid $color-primary-light;
    background-color: $color-brand-secondary;
    padding: 1rem 2.5rem;
    border-radius: 5rem;
    font-size: 1.7rem;
    text-decoration: none;
    font-weight: bold;
}

.card_circle {
    height: 40rem;
    width: 70rem;
    background-color: $color-orange;
    position: absolute;
    border-radius: 50%;
    margin-left: -7.5rem;
    margin-top: -27rem;
}

#block-ablepopup {
    display: none;
  }