.arrows {
    grid-column: 2;
    fill: $color-orange-dark;
    display: flex;
    justify-content: space-around;

    & svg {
        width: 6rem;
    }

    @include respond(phone) {
        grid-row: 3;
        grid-column: 1;
    }
}

// .testimonial-grid .slick-initialized .slick-slide {
//     display: grid;
//     grid-template-rows: repeat(3, 1fr);
// }

.testimonial p {
    margin: 5rem 0;
}

.fade-in-left {

    @include respond(phone) {
        grid-row: 1;
    }
}

.slick-slider {

    @include respond(phone) {
        grid-row: 2;
    }
}