.california {

    &__title {

    }

    &__locations {
        display: flex;
        justify-content: space-evenly;

        &--menu {

            p {
                font-weight: 700;

            }

            .menu {

                .menu-item {
    
                    font-size: 2.1rem;
                    text-align: center;
                    position: relative;
                    margin-top: 1.5rem;
                    border: 1px solid #80AED1;
                    min-width: 30rem;
                    padding: 2.5rem 0;
                    background-image: linear-gradient(to left, #80aed1, #194585);
                    box-shadow: 0 4px 1.5rem 0 rgba(49, 96, 190, 0.75);
                    // background-size: 300% 100%;

                    &:hover {
                        background-position: 100% 0;
                        transition: all .4s ease-in-out;
                        // animation: colorSwitch 6s linear 2s infinite alternate;
                    }

                    &:focus {
                        outline: none;
                    }
    
                    a {
                        text-decoration: none;
                        color: $color-white;
                        display: block;
                    }
                }
            }
        }        
    }
}

.illinois,
.nevada {

    &__title {

    }

    &__locations {
        display: flex;
        justify-content: space-evenly;

        &--menu {

            p {

            }

            .menu {
                display: flex;
                justify-content: space-between;
                width: 100%;

                .menu-item {
                    font-size: 2.1rem;
                    text-align: center;
                    position: relative;
                    margin-top: 1.5rem;
                    border: 1px solid #80AED1;
                    min-width: 30rem;
                    padding: 2.5rem 0;
                    background-image: linear-gradient(to left, #80aed1, #194585);
                    box-shadow: 0 4px 1.5rem 0 rgba(49, 96, 190, 0.75);
                }

                &:hover {
                    background-position: 100% 0;
                    transition: all .4s ease-in-out;
                    // animation: colorSwitch 6s linear 2s infinite alternate;
                }

                &:focus {
                    outline: none;
                }

                a {
                    text-decoration: none;
                    color: $color-white;
                    display: block;
                }
            }
        }
    }
}
// @keyframes colorSwitch {
//     0% { background-image: linear-gradient(to left, #80aed1, #194585) }
//     100% { background-image: linear-gradient(to right, #80aed1, #194585) }
// }